* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  font-family: "livvic";
  color: #fff;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(7, 26, 14, 0.6), rgba(7, 26, 14, 0.5)),
    url("./../images/back-2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 20px;
}

.event-form {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.row {
  width: 40%;
  margin: 0px auto;
}

.heading {
  font-size: 200%;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  margin-top: 12px;
  font-size: 20px;
  font-family: "livvic";
  background-color: #39ca74;
  border: 2px solid #39ca74;
  border-radius: 100px;
  color: #000;
  padding: 10px 80px;
}

.btn:hover {
  cursor: pointer;
}

input,
select {
  height: 45px;
  width: 60%;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px transparent;
  border-radius: 100px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-family: "livvic";
  transition: 0.2s;
  outline: none;
  margin-top: 12px;
}

option {
  color: #000;
  background-color: transparent;
  background: none;
}

textarea {
  height: 4em;
  width: 60%;
  resize: none;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px transparent;
  border-radius: 100px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-family: "livvic";
  transition: 0.2s;
  outline: none;
  margin-top: 12px;
  margin-bottom: -7px;
}

input:hover,
input:active,
textarea:hover {
  background-color: transparent;
  border: 1px solid white;
}

::placeholder {
  color: white;
}

.back {
  position: absolute;
  border: 2px transparent;
  width: 100px;
  padding: 5px 5px 8px 0;
  border-radius: 100px;
  background-color: #39ca74;
  color: black;
  text-decoration: none;
  transform: translate(-300px, -50px);
}

.errorlist {
  padding: 0;
  margin: 0;
}

.errorlist li {
  display: inline;
  color: rgb(2, 2, 2);
  border-radius: 30px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.836);
}
