* {
  margin: 0;
  padding: 0;
}
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.13%;
}
.span_1_of_3 {
  width: 33.33%;
} /* GO FULL WIDTH AT LESS
THAN 480 PIXELS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "livvic";
}
html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
header {
  width: 100%;
  height: 100vh;
  background-color: #282828;
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.712)),
    url("./../images/back-1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 20px;
}
h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  font-family: "livvic";
  color: #39ca74;
}
span {
  color: #fff;
}
ul {
  width: auto;
  float: right;
  margin-top: 8px;
}
li {
  display: inline-block;
  padding: 15px 30px;
}
li a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: "livvic"; /* font-size: 1.2;vw */
}
li a:hover {
  color: #f0c330;
  transition: 0.5s;
}
img {
  width: 100%;
  margin-top: -16px;
}
.main-text {
  display: inline-block;
  position: absolute;
  width: 1200px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
}
.super-text {
  font-size: 150px;
  font-weight: 400;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.typing {
  font-size: 76px;
}
span.typed-text {
  font-weight: normal;
  color: #39ca74;
}
span .cursor .typing {
  animation: none;
}
span .cursor {
  display: inline-block;
  background-color: #fff;
  margin-left: 0.1rem;
  width: 5px;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    background-color: #fff;
  }
  49% {
    background-color: #fff;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}
.row {
  margin: 0px auto;
  width: 90%;
  height: auto;
}
.col {
  float: left;
  /*height: 45vh; /* border:
2px solid black; */
  text-align: center;
  padding: 45px;
}
h2 {
  width: 25%;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  border-bottom: 5px solid #39ca74;
  margin: 20px auto;
}
.icon {
  display: block;
  text-align: center;
  margin: 0px auto;
  font-size: 70px;
}
.icon-heart {
  color: rgb(255, 135, 135);
}
.icon-alarm {
  color: #39ca74;
}
.icon-face {
  color: #e4d507;
}
h3 {
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
}
.para {
  font-size: 21px;
  line-height: 1.5em;
  word-spacing: 2px;
  text-align: center;
  justify-content: center;
}
.small-para {
  width: 45%;
  text-align: center;
  margin: 0px auto;
  font-size: 25px;
}
.links {
  float: left;
  text-align: center;
}
.links a:visited,
.links a {
  text-decoration: none;
  color: black;
  padding: 10px 40px;
  border: 2px solid #39ca74;
  font-size: 30px;
  border-radius: 20em;
  transition: 0.65s;
}
.links a:hover,
.links a:active {
  background-color: #39ca74;
}
.space {
  margin-top: 125px;
}
.icon-participant {
  color: #39ca74;
}
.icon-calender {
  color: #e4d507;
}
.icon-file {
  color: rgb(255, 135, 135);
}
