{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/cards.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <div class="left-photo"></div>
      <div class="right-info">
        <div class="heading">Sample Event 01</div>
        <div class="desc">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio
          dolorem, eveniet dolorem, sunt itaque, vero possimus labore quod qui
          dolorem, eveniet dolorem, sunt itaque, vero possimus labore quod qui
          ducimus?
        </div>
        <div class="other">
          <div class="date"><b>Dates: </b>Jan. 13, 2020-Feb. 3, 3032</div>
          <div class="time"><b>Time: </b>2:40pm-4:30pm</div>
          <div class="reg-end">
            <b>Regisration Ends at: </b>Jan. 13, 2020-Feb. 3, 3032
          </div>
          <div class="venue"><b>Venue: </b>Online</div>
        </div>
      </div>
    </div>
  </body>
</html>
