{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500&display=swap"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="{% static 'css/style-event-dashboard.css'%}" />
    <title>Event Registration</title>
  </head>
  <body>
    <section class="event-form">
      <a href="/events/" class="back">👈🏼Back</a>
      <div class="row">
        <div class="heading">Event Dashboard</div>
      </div>
      <div class="row">
        <form method="POST" action="">
          {% csrf_token %} {% for field in form %} {{field}}<br />
          {% endfor %}
          <button class="btn" type="submit">Submit</button>
        </form>

        <div>
          {% if participants %}
          <table border="2px">
            <tr>
              <th>Participant ID</th>
              <th>Name</th>
              <th>Contact No.</th>
              <th>Email ID</th>
              <th>Participation Type</th>
              <th>No. of People</th>
            </tr>
            {% for participant in participants %}
            <tr>
              <td>{{participant.id}}</td>
              <td>{{participant.name}}</td>
              <td>{{participant.mobile_number}}</td>
              <td>{{participant.email}}</td>
              <td>{{participant.registration_type}}</td>
              <td>{{participant.no_of_people}}</td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
        </div>
      </div>
    </section>
  </body>
</html>
