{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500&display=swap"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="{% static 'css/style-event-dashboard.css'%}" />
    <title>Event Registration</title>
    <script>
      function fun(x) {
        document.getElementById(x).type = "date";
      }
      function fun2(x) {
        document.getElementById(x).type = "time";
      }
      function hideThis() {
        var x = document.getElementById("hideme");
        var y = document.getElementById("changeText");
        if (x.style.display === "none") {
          x.style.display = "block";
          y.innerHTML = "Hide All Events";
        } else {
          x.style.display = "none";
          y.innerHTML = "Show All Events";
        }
      }
    </script>
  </head>
  <body>
    <section class="event-form">
      <a href="/events/" class="back">👈🏼Back</a>
      <div class="row">
        <div class="heading">Participant Registration</div>
      </div>
      <div class="row">
        <form method="POST" action="">
          {% csrf_token %} {% for field in form %} {{field}} <br />{% endfor %}
          <button class="btn" type="submit">Submit</button>
        </form>
      </div>
    </section>
    <button onclick="hideThis()" id="changeText" class="btn">
      Hide All Events
    </button>
    <div id="hideme">
      Here you can find events for which you can register.
      <br />
      <hr />
      {% for event in events %}
      <b>{{event.event_name}}</b>
      <br /><br />
      <b>{{event.description}}</b>
      <br /><br />
      <b>Dates</b>: {{event.from_date}}-{{event.to_date}}
      <br />
      <b>Time</b>: {{event.from_time}}-{{event.to_time}}
      <br />
      <b>Registration ends at</b>: {{event.registration_end_date}}
      {{event.registration_end_time}}
      <br />
      <b>Venue</b>: {{ event.location }}
      <hr />
      {% endfor %}
    </div>
  </body>
</html>
