{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500&display=swap"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="{% static 'css/style-event-dashboard.css'%}" />
    <link rel="stylesheet" href="{% static 'css/responsive-register.css' %}" />
    <title>Event Registration</title>
    <script>
      function fun(x) {
        document.getElementById(x).type = "date";
      }
      function fun2(x) {
        document.getElementById(x).type = "time";
      }
    </script>
  </head>
  <body>
    <section class="event-form">
      <a href="/" class="back">👈🏼Back</a>
      <div class="row">
        <div class="heading">Event Registration</div>
      </div>
      <div class="row">
        <form method="POST" action="">
          {% csrf_token %} {% for field in form %} {{field}} {{field.errors}}
          <!------------------- -->
          {% endfor %}
          <br />
          <button class="btn" type="submit">Set up this Event!</button>
        </form>
      </div>
    </section>
  </body>
</html>
