{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500&display=swap"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="{% static 'css/style-event-dashboard.css'%}" />
    <link rel="stylesheet" href="{% static 'css/cards.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive-register.css' %}" />
    <title>Participant Registration</title>
    <link href="{% static 'js/input.js' %}" />
  </head>
  <body>
    <section class="event-form">
      <a href="/events/" class="back">👈🏼Back</a>
      <div class="row">
        <div class="heading">Participant Registration</div>
      </div>
      <div class="row">
        <form method="POST" action="">
          {% csrf_token %} {% for field in form %} {{field}} {{field.errors}}
          <!----------------- -->
          {% endfor %}
          <br />
          <button class="btn" type="submit">Submit</button>
        </form>
      </div>
    </section>

    {% if events %}
    <div class="heading">Events in which you can register.</div>

    {% for event in events%}
    <div class="card">
      <div
        class="left-photo"
        style="background-image: url('{{ event.poster_link }}'); background-position: center"
      ></div>
      <div class="right-info">
        <div class="heading-cards">{{event.event_name}}</div>
        <div class="desc">{{event.description}}</div>
        <div class="other">
          <div class="date">
            <b>Dates: </b>{{event.from_date}}-{{event.to_date}}
          </div>
          <div class="time">
            <b>Time: </b>{{event.from_time}}-{{event.to_time}}
          </div>
          <div class="reg-end">
            <b>Regisration Ends at: </b>{{event.registration_end_date}}
            {{event.registration_end_time}}
          </div>
          <div class="venue"><b>Venue: </b>{{event.location}}</div>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <div class="heading">No events availabe.</div>
    {% endif %}
  </body>
</html>
